@import "./variables.scss";

.app {
	text-align: center;
	font-family: 'Raleway';

	* {
		box-sizing: border-box;
	}

	a, a:hover, a:visited {
		text-decoration: none;
	}
}

header {
  position: fixed;
  height: 72px;
  left: 0;
  top: 0;
  background-color: $header-color;
  width: 100%;
  z-index: 1;

  nav {
    @media(min-width: 960px) {
      width: $app-width;
      margin: 0 auto;
    }

  	a.headerLink + a.headerLink {
  		margin-left: 30px;
  	}

  	.links {
  		display: none;
  		float: right;
  		margin-right: 20px;

        @media (min-width: 960px) {
          display: inline-block;
        }
  	}
  }

  a {
  	color: white;
    margin-top: 27px;
    display: inline-block;
    font-size: 16px;
    font-weight: $medium;

  	&:hover {
  		color: $accent-color;
  	};

  	&.logoLink {
  		float: left;
		margin: 14px 0 0 20px;
  	}

    &.active {
      color: $accent-color;
    }
  }
}

main {
  display: block;
  margin-top: 72px;
  min-height: calc(100vh - 330px);
}

footer {
  background-color: $header-color;
  color: white;
  display: block;
  padding-bottom: 30px;
  width: 100%;

  .footer__content {
    @media(min-width: 960px) {
      width: $app-width;
      margin: 0 auto;
    }

  	&__wrapper {
      text-align: left;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      @media(min-width: 960px) {
        flex-direction: row;
        justify-content: space-around;
      }
  	}

  	&__text {
		font-size: 14px;
		line-height: 26px;
		display: block;
		a, a:hover, a:visited {
			color: white;
			text-decoration: none;
		}
  	}

  	&__copyrights {
  		display: block;
  		font-size: 10px;
  		width: 100%;
  		text-align: center;
  	}
  }

}

.uppercase {
	text-transform: uppercase;
}

.logo {
  display: inline-block;
  text-align: left;
  span {
    display: block;
    font-size: 14px;
    padding-bottom: 6px;
    font-family: 'Raleway';
    &.name {
      font-size: 18px;
      font-weight: $bold;
    }
  }
}

.topBanner {
  background: $header-color;
  background: linear-gradient(180deg, $header-color 0%, rgba(166,186,218,1) 100%);
  min-height: 418px;
  position: relative;
  width: 100%;
  color: white;

  @media(min-width: 768px){
    min-height: 398px;
  }

  &__quote {
    display: inline-block;
    font-style: italic;
    font-size: 40px;
    font-weight: $medium;
    line-height: 50px;
    margin-top: 50px;
    padding: 0 15px;
    max-width: 588px;
    white-space: normal;

    @media(min-width: 960px) {
      font-size: 50px;
      line-height: 60px;
      padding: 0;
    }
  }

  &__text {
    display: inline-block;
    font-size: 30px;
    font-style: normal;
    font-weight: $medium;
    line-height: 40px;
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: $column-width * 10;
    white-space: normal;
    padding: 0 20px;

    @media(min-width: 960px) {
      padding: 0;
    }
  }

  &__author {
    display: block;
    font-size: 14px;
    margin-top: 20px;
  }

  &__image {
      position: absolute;
      bottom: -20px;
      transform: translate(-50%);
      left: 50%;
      width: 90%;
      max-width: 680px;

      @media(min-width: 960px) {
        width: 680px;
      }
  }
}

.page {
  padding-top: 60px;

  @media(min-width: 960px) {
    width: $app-width;
    margin: 0 auto;
  }

}

h2 {
  font-weight: $medium;
  font-size: 36px;
  line-height: 46px;
  color: $accent-color;
  margin: 0;

  &.pageTitle {
    font-size: 50px;
    line-height: 50px;
    padding: 0 20px;

    @media(min-width: 960px) {
      padding: 0;
    }
  }
}

h3 {
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  color: $primary-color;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: $primary-color;

  &.pageText {
    font-size: 20px;
    line-height: 30px;
    padding: 0 20px;

    @media(min-width: 960px) {
      padding: 0;
    }
  }
}

q {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: $medium;
  white-space: normal;
  display: inline-block;
}

.link {
  color: $accent-color;
  font-size: 18px;
  margin-top: 20px;
  font-weight: $semi-bold;
  display: block;
  &:hover {
    color: $accent-hover-color;
  }

  &:visited {
    color: $accent-color;
  };
}

.bullets {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0 80px;
  justify-content: center;
  align-items: center;

  @media(min-width: 960px) {
    margin: 95px 0 80px;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
  }


  .bulletPortrait {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: $column-width * 3;

    img {
      width: 150px;
      height: 150px;
    }

    span {
      color: $primary-color;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      padding: 10px;
      text-transform: capitalize;
    }
  }
}

.lightBackground {
  background-color: $light-color;
}

.twoColumnWidth {
  width: 100%;
  @media (min-width: 960px) {
    width: $column-width * 2;
  }
}

.threeColumnWidth {
  width: 100%;
  @media (min-width: 960px) {
    width: $column-width * 3;
  }
}

.sixColumnWidth {
  width: 100%;
  @media(min-width: 960px) {
    width: $column-width * 6;
  }
}

.eightColumnWidth {
  width: 100%;
  @media (min-width: 960px) {
    width: $column-width * 8;
  }
}

.nineColumnWidth {
  width: 100%;
  @media (min-width: 960px) {
    width: $column-width * 9;
  }
}
.tenColumnWidth {
  width: 100%;
  @media (min-width: 960px) {
    width: $column-width * 10;
  }
}

.mobileNavigation {
  &__icon {
    display: inline-block;
    float: right;
    margin: 20px;

    img {
      width: 50px;
    }

    @media(min-width: 960px) {
      display: none;
    }
  }

  &__menu {
    position: fixed;
    top: 72px;
    flex-direction: column;
    background-color: $primary-color;
    left: 0;
    width: 100vw;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;

    a {
      width: 100%;
    }
  }
}
