.homepage__title {
  font-size: 30px;
  font-weight: 500;
  color: #607FAB;
  display: inline-block;
  line-height: 40px;
  margin-top: 80px;
  padding: 0 15px; }
  @media (min-width: 960px) {
    .homepage__title {
      padding: 0; } }

.homepage__belt {
  padding: 30px 0 60px; }
  .homepage__belt__container {
    display: flex;
    margin: 0 auto;
    flex-direction: column; }
    .homepage__belt__container.flexColumn {
      flex-direction: column; }
    @media (min-width: 768px) {
      .homepage__belt__container {
        flex-direction: row; } }
  .homepage__belt__content {
    text-align: center;
    display: inline-block;
    padding: 0 20px; }
    @media (min-width: 960px) {
      .homepage__belt__content {
        text-align: left; } }
  .homepage__belt__title {
    display: inline-block; }
  .homepage__belt__text {
    white-space: normal; }
  .homepage__belt__carousel {
    width: 80%;
    display: inline-block; }
    @media (min-width: 960px) {
      .homepage__belt__carousel {
        float: right; } }
    .homepage__belt__carousel .slick-dots li {
      margin: 0; }
    .homepage__belt__carousel .slick-dots li button:before {
      color: white;
      opacity: 1;
      font-size: 8px; }
    .homepage__belt__carousel .slick-dots li.slick-active button:before {
      color: #F7B002; }
  .homepage__belt__icons {
    display: flex;
    flex-wrap: wrap; }
    @media (min-width: 960px) {
      .homepage__belt__icons {
        margin: 0 auto;
        width: 960px; } }
  .homepage__belt__icon img {
    width: 100px; }
  .homepage__belt__icon__caption {
    white-space: normal;
    color: #607FAB; }

.homepage__quote {
  padding: 100px 0 50px;
  color: #607FAB;
  width: 100%; }
  .homepage__quote q {
    margin: 0 auto; }
  @media (min-width: 960px) {
    .homepage__quote {
      padding: 100px 0; } }

.homepage__author {
  display: block;
  font-size: 14px;
  margin-top: 20px; }
