.homepage__title {
  font-size: 30px;
  font-weight: 500;
  color: #607FAB;
  width: 588px;
  display: inline-block;
  line-height: 40px;
  margin-top: 60px; }

.homepage__belt {
  padding: 60px 0;
  margin: 50px 0 0; }
  .homepage__belt__container {
    display: flex;
    margin: 0 auto;
    width: 960px; }
    .homepage__belt__container.flexColumn {
      flex-direction: column; }
  .homepage__belt__content {
    width: 480px;
    text-align: left;
    display: inline-block;
    padding: 0 20px; }
  .homepage__belt__title {
    display: inline-block; }
  .homepage__belt__text {
    white-space: normal; }
  .homepage__belt__carousel {
    width: 80%;
    display: inline-block;
    float: right; }
    .homepage__belt__carousel .slick-dots li {
      margin: 0; }
    .homepage__belt__carousel .slick-dots li button:before {
      color: white;
      opacity: 1;
      font-size: 8px; }
    .homepage__belt__carousel .slick-dots li.slick-active button:before {
      color: #F7B002; }
  .homepage__belt__icons {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto; }
  .homepage__belt__icon {
    width: 160px; }
    .homepage__belt__icon img {
      width: 100px; }
    .homepage__belt__icon__caption {
      white-space: normal;
      color: #607FAB; }

.homepage__quote {
  padding: 100px 0;
  color: #607FAB;
  width: 100%; }
  .homepage__quote q {
    margin: 0 auto; }

.homepage__author {
  display: block;
  font-size: 14px;
  margin-top: 20px; }
