$primary-color: #607FAB;
$accent-color: #F7B002;
$light-color: rgba(227,240,248,0.4);
$header-color: #83A0C5;
$accent-hover-color: #FFC842;
$semi-bold: 600;
$bold: 700;
$medium: 500;
$app-width: 960px;
$column-width: 80px;
$gutter-width: 30px;