.what.page {
  padding-top: 30px; }
  @media (min-width: 960px) {
    .what.page {
      padding-top: 60px; } }

.what .pageTitle {
  margin-bottom: 30px;
  text-align: center; }
  @media (min-width: 960px) {
    .what .pageTitle {
      text-align: left; } }

.ReactModal__Overlay {
  display: flex;
  align-items: flex-start;
  z-index: 1; }
  @media (min-width: 960px) {
    .ReactModal__Overlay {
      justify-content: center;
      align-items: center; } }

.ReactModal__Content {
  background-color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: scroll; }
  @media (min-width: 960px) {
    .ReactModal__Content {
      height: auto;
      overflow: hidden;
      width: 960px; } }
  .ReactModal__Content .modal__icon {
    width: 200px; }
  .ReactModal__Content .modal__close {
    background-image: url("../assets/Close.png");
    display: inline-block;
    position: fixed;
    width: 20px;
    height: 20px;
    top: 90px;
    right: 20px; }
    @media (min-width: 960px) {
      .ReactModal__Content .modal__close {
        position: absolute;
        top: 15px;
        right: 25px; } }
    .ReactModal__Content .modal__close:hover {
      background-image: url("../assets/Close_hover.png"); }
