@import "./variables.scss";

.what {
  &.page {
   padding-top: 30px;
    @media(min-width: 960px) {
      padding-top: 60px;
    }
  }

  .pageTitle {
    margin-bottom: 30px;
    text-align: center;

    @media(min-width: 960px) {
      text-align: left;
    }
  }
}

.ReactModal {
  &__Overlay {
    display: flex;
    align-items: flex-start;
    z-index: 1;

    @media(min-width: 960px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__Content {
    background-color: white;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: scroll;

    @media(min-width:960px) {
      height: auto;
      overflow: hidden;
      width: $app-width;
    }

    .modal {
      &__icon {
        width: 200px;
      }

      &__close {
        background-image: url("../assets/Close.png");
        display: inline-block;
        position: fixed;
        width: 20px;
        height: 20px;
        top: 90px;
        right: 20px;

        @media(min-width: 960px) {
          position: absolute;
          top: 15px;
          right: 25px;
        }

        &:hover {
          background-image: url("../assets/Close_hover.png");
        }
      }
    }
  }
}
