.who__banner {
  height: 400px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.who__quote h1 {
  width: 640px;
  margin: 0 auto;
  color: #607FAB;
  font-size: 30px;
  line-height: 45px;
  font-style: italic;
  font-weight: 500;
  white-space: normal;
  display: inline-block; }

.who__quote .link {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 500;
  white-space: normal;
  display: inline-block;
  margin-top: 0; }

.who__text {
  width: 800px;
  margin: 0 auto;
  text-align: left; }

.who__studies {
  background-color: rgba(227, 240, 248, 0.4);
  padding: 60px 0;
  margin: 50px 0 0; }
  .who__studies__content {
    text-align: left;
    width: 960px;
    margin: 0 auto;
    padding-left: 20px; }
  .who__studies__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .who__studies__wrapper__year {
      width: 240px;
      margin-top: 30px;
      padding-left: 30px; }
    .who__studies__wrapper__activity {
      width: 640px;
      margin-top: 23px; }
