.app {
  text-align: center;
  font-family: 'Raleway'; }
  .app * {
    box-sizing: border-box; }
  .app a, .app a:hover, .app a:visited {
    text-decoration: none; }

header {
  position: fixed;
  height: 72px;
  left: 0;
  top: 0;
  background-color: #83A0C5;
  width: 100%;
  z-index: 1; }
  @media (min-width: 960px) {
    header nav {
      width: 960px;
      margin: 0 auto; } }
  header nav a.headerLink + a.headerLink {
    margin-left: 30px; }
  header nav .links {
    display: none;
    float: right;
    margin-right: 20px; }
    @media (min-width: 960px) {
      header nav .links {
        display: inline-block; } }
  header a {
    color: white;
    margin-top: 27px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500; }
    header a:hover {
      color: #F7B002; }
    header a.logoLink {
      float: left;
      margin: 14px 0 0 20px; }
    header a.active {
      color: #F7B002; }

main {
  display: block;
  margin-top: 72px;
  min-height: calc(100vh - 270px); }

footer {
  background-color: #83A0C5;
  color: white;
  display: block;
  padding-bottom: 30px;
  width: 100%; }
  @media (min-width: 960px) {
    footer .footer__content {
      width: 960px;
      margin: 0 auto; } }
  footer .footer__content__wrapper {
    text-align: left;
    padding: 30px 20px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 960px) {
      footer .footer__content__wrapper {
        flex-direction: row;
        justify-content: space-around; } }
  footer .footer__content__text {
    font-size: 14px;
    line-height: 26px;
    display: block; }
    footer .footer__content__text a, footer .footer__content__text a:hover, footer .footer__content__text a:visited {
      color: white;
      text-decoration: none; }
  footer .footer__content__copyrights {
    display: block;
    font-size: 10px;
    width: 100%;
    text-align: center; }

.uppercase {
  text-transform: uppercase; }

.logo {
  display: inline-block;
  text-align: left; }
  .logo span {
    display: block;
    font-size: 14px;
    padding-bottom: 6px;
    font-family: 'Raleway'; }
    .logo span.name {
      font-size: 18px;
      font-weight: 700; }

.topBanner {
  background: #83A0C5;
  background: linear-gradient(180deg, #83A0C5 0%, #a6bada 100%);
  min-height: 418px;
  position: relative;
  width: 100%;
  color: white; }
  @media (min-width: 768px) {
    .topBanner {
      min-height: 398px; } }
  .topBanner__quote {
    display: inline-block;
    font-style: italic;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin-top: 50px;
    padding: 0 15px;
    max-width: 588px;
    white-space: normal; }
    @media (min-width: 960px) {
      .topBanner__quote {
        font-size: 50px;
        line-height: 60px;
        padding: 0; } }
  .topBanner__text {
    display: inline-block;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 800px;
    white-space: normal;
    padding: 0 20px; }
    @media (min-width: 960px) {
      .topBanner__text {
        padding: 0; } }
  .topBanner__author {
    display: block;
    font-size: 14px;
    margin-top: 20px; }
  .topBanner__image {
    position: absolute;
    bottom: -20px;
    transform: translate(-50%);
    left: 50%;
    width: 90%;
    max-width: 680px; }
    @media (min-width: 960px) {
      .topBanner__image {
        width: 680px; } }

@media (min-width: 960px) {
  .page {
    width: 960px;
    margin: 0 auto; } }

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: #F7B002;
  margin: 0; }
  h2.pageTitle {
    font-size: 50px;
    line-height: 50px;
    padding: 0 20px; }
    @media (min-width: 960px) {
      h2.pageTitle {
        padding: 0; } }

h3 {
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  color: #607FAB; }

p {
  font-size: 16px;
  line-height: 28px;
  color: #607FAB; }
  p.pageText {
    font-size: 20px;
    line-height: 30px;
    padding: 0 20px; }
    @media (min-width: 960px) {
      p.pageText {
        padding: 0; } }

q {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 500;
  white-space: normal;
  display: inline-block; }

.link {
  color: #F7B002;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
  display: block; }
  .link:hover {
    color: #FFC842; }
  .link:visited {
    color: #F7B002; }

.bullets {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0 0;
  justify-content: center;
  align-items: center; }
  @media (min-width: 960px) {
    .bullets {
      margin: 95px 0 80px;
      flex-direction: row;
      justify-content: normal;
      align-items: normal; } }
  .bullets .bulletPortrait {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 0 0 50px; }
    .bullets .bulletPortrait img {
      width: 150px;
      height: 150px; }
    .bullets .bulletPortrait span {
      color: #607FAB;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      padding: 10px;
      text-transform: capitalize; }

.lightBackground {
  background-color: rgba(227, 240, 248, 0.4); }

.twoColumnWidth {
  width: 100%; }
  @media (min-width: 960px) {
    .twoColumnWidth {
      width: 160px; } }

.threeColumnWidth {
  width: 100%; }
  @media (min-width: 960px) {
    .threeColumnWidth {
      width: 240px; } }

.sixColumnWidth {
  width: 100%; }
  @media (min-width: 960px) {
    .sixColumnWidth {
      width: 480px; } }

.eightColumnWidth {
  width: 100%; }
  @media (min-width: 960px) {
    .eightColumnWidth {
      width: 640px; } }

.nineColumnWidth {
  width: 100%; }
  @media (min-width: 960px) {
    .nineColumnWidth {
      width: 720px; } }

.tenColumnWidth {
  width: 100%; }
  @media (min-width: 960px) {
    .tenColumnWidth {
      width: 800px; } }

.mobileNavigation__icon {
  display: inline-block;
  float: right;
  margin: 20px; }
  .mobileNavigation__icon img {
    width: 50px; }
  @media (min-width: 960px) {
    .mobileNavigation__icon {
      display: none; } }

.mobileNavigation__menu {
  position: fixed;
  top: 72px;
  flex-direction: column;
  background-color: #607FAB;
  left: 0;
  width: 100vw;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px; }
  .mobileNavigation__menu a {
    width: 100%; }

.contacts.page {
  padding-top: 30px; }
  @media (min-width: 960px) {
    .contacts.page {
      padding-top: 60px; } }

.contacts__list {
  list-style-type: none;
  padding: 0; }

.homepage__title {
  font-size: 30px;
  font-weight: 500;
  color: #607FAB;
  display: inline-block;
  line-height: 40px;
  margin-top: 80px;
  padding: 0 15px; }
  @media (min-width: 960px) {
    .homepage__title {
      padding: 0; } }

.homepage__belt {
  margin-top: 30px;
  padding: 30px 0 60px; }
  .homepage__belt__container {
    display: flex;
    margin: 0 auto;
    flex-direction: column; }
    .homepage__belt__container.flexColumn {
      flex-direction: column; }
    @media (min-width: 768px) {
      .homepage__belt__container {
        flex-direction: row; } }
  .homepage__belt__content {
    text-align: center;
    display: inline-block;
    padding: 0 20px; }
    @media (min-width: 960px) {
      .homepage__belt__content {
        text-align: left; } }
  .homepage__belt__title {
    display: inline-block; }
  .homepage__belt__text {
    padding: 0 20px;
    white-space: normal; }
    @media (min-width: 960px) {
      .homepage__belt__text {
        padding: 0; } }
  .homepage__belt__carousel {
    width: 80%;
    display: inline-block; }
    @media (min-width: 960px) {
      .homepage__belt__carousel {
        float: right; } }
    .homepage__belt__carousel .slick-dots li {
      margin: 0; }
    .homepage__belt__carousel .slick-dots li button:before {
      color: white;
      opacity: 1;
      font-size: 8px; }
    .homepage__belt__carousel .slick-dots li.slick-active button:before {
      color: #F7B002; }
  .homepage__belt__icons {
    display: flex;
    flex-wrap: wrap; }
    @media (min-width: 960px) {
      .homepage__belt__icons {
        margin: 0 auto;
        width: 960px; } }
  @media (max-width: 960px) {
    .homepage__belt__icon {
      margin: 10px 20px 50px; } }
  .homepage__belt__icon img {
    width: 100px; }
  .homepage__belt__icon__caption {
    white-space: normal;
    color: #607FAB; }

.homepage__quote {
  padding: 100px 20px 50px;
  color: #607FAB;
  width: 100%; }
  .homepage__quote q {
    margin: 0 auto; }
  @media (min-width: 960px) {
    .homepage__quote {
      padding: 100px 0; } }

.homepage__author {
  display: block;
  font-size: 14px;
  margin-top: 20px; }

.psychiatrist__content {
  padding: 60px 0 80px; }

.psychiatrist__table {
  margin-top: 35px; }
  @media (min-width: 960px) {
    .psychiatrist__table {
      margin-top: 60px; } }
  .psychiatrist__table__row {
    display: flex;
    flex-direction: column;
    margin-top: 25px; }
    @media (min-width: 960px) {
      .psychiatrist__table__row {
        flex-direction: row;
        margin-top: 0; } }
  .psychiatrist__table__smallColumn {
    padding: 10px 30px;
    color: #607FAB;
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
    line-height: 59px;
    text-transform: capitalize; }
  .psychiatrist__table__largeColumn {
    padding: 0 30px;
    color: #607FAB;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left; }

.what.page {
  padding-top: 30px; }
  @media (min-width: 960px) {
    .what.page {
      padding-top: 60px; } }

.what .pageTitle {
  margin-bottom: 30px;
  text-align: center; }
  @media (min-width: 960px) {
    .what .pageTitle {
      text-align: left; } }

.ReactModal__Overlay {
  display: flex;
  align-items: flex-start;
  z-index: 1; }
  @media (min-width: 960px) {
    .ReactModal__Overlay {
      justify-content: center;
      align-items: center; } }

.ReactModal__Content {
  background-color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: scroll; }
  @media (min-width: 960px) {
    .ReactModal__Content {
      height: auto;
      overflow: hidden;
      width: 960px; } }
  .ReactModal__Content .modal__icon {
    width: 200px; }
  .ReactModal__Content .modal__close {
    background-image: url("../assets/Close.png");
    display: inline-block;
    position: fixed;
    width: 20px;
    height: 20px;
    top: 90px;
    right: 20px; }
    @media (min-width: 960px) {
      .ReactModal__Content .modal__close {
        position: absolute;
        top: 15px;
        right: 25px; } }
    .ReactModal__Content .modal__close:hover {
      background-image: url("../assets/Close_hover.png"); }

.who {
  padding-top: 60px; }
  .who__quote {
    padding: 0 20px; }
    .who__quote h1 {
      margin: 0 auto;
      color: #607FAB;
      font-size: 30px;
      line-height: 45px;
      font-style: italic;
      font-weight: 500;
      white-space: normal;
      display: inline-block; }
    .who__quote .link {
      font-size: 30px;
      line-height: 40px;
      font-style: italic;
      font-weight: 500;
      white-space: normal;
      display: inline-block;
      margin-top: 0; }
  .who__text {
    margin: 0 auto;
    padding: 0 20px;
    text-align: left; }
    @media (min-width: 960px) {
      .who__text {
        padding: 0; } }
  .who__studies {
    background-color: rgba(227, 240, 248, 0.4);
    padding: 60px 0;
    margin: 50px 0 0; }
    .who__studies__content {
      text-align: left;
      margin: 0 auto;
      padding: 0 20px; }
    .who__studies__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .who__studies__wrapper__year {
        margin: 30px 0 0;
        padding-left: 30px; }
      .who__studies__wrapper__activity {
        margin-top: 0; }
        @media (min-width: 960px) {
          .who__studies__wrapper__activity {
            margin-top: 23px; } }
